<!DOCTYPE html>
<html>
<head>
<title>ASME analytics</title>
<style>
#container {
	height: 500px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



</style>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">      
    </p>
</figure>

<script>

Highcharts.chart('container', {
    chart: {
        type: 'variablepie'
    },
    title: {
        text: 'ASME EVENTS'
    },
    tooltip: {
        headerFormat: '',
        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
            'No.of events: <b>{point.y}</b><br/>' +
            'Events: <b>{point.z}</b><br/>'+'<span style="color:{point.color}">\u25CF</span> <b> {point.a}</b><br/>'+
            '<span style="color:{point.color}">\u25CF</span> <b> {point.b}</b><br/>'
            +'<span style="color:{point.color}">\u25CF</span> <b> {point.c}</b><br/>'
            +'<span style="color:{point.color}">\u25CF</span> <b> {point.d}</b><br/>'
            +'<span style="color:{point.color}">\u25CF</span> <b> {point.e}</b><br/>'
    },
    series: [{
        minPointSize: 40,
        innerSize: '50%',
        zMin: 0,
        name: 'Month',
        data: [  {
            name: 'February',
            y: 5,
            
            a: ['Boiler Pressure Vessel Code Week'],
            b: ['Optimizing Iron Ore Sintering Processes Using Simulation'],
            c: ['ASME PTC 22 Gas Turbines Standards Committee'],
            d: ['E-Fest Asia Pacific'],
            e: ['Group Leadership Development Conference (GLDC) 2020']
           
        },
        {
            name: 'March',
            y: 5,
            
            a: ['Accelerating Your Technical Leadership in a Digital World'],
            b: ['ASME B31.3-2018 Process Piping Design Webinar'],
            c: ['Small, Mini, and Micro Reactor Summit 2020'],
            d: ['Rail Transit Vehicle Standards Committee Meeting 3/24/20'],
            e: ['E-Fest North']
           
        },

         {
            name: 'April',
            y: 8,
            
            a: ['Simulations in Medical Device Design'],
            b: ['3D Printing of Medical Devices at Point of Care'],
            c: ['Intro to Desktop 3D Printing'],
            d: ['E-Fest South'],
            e: ['Success of the Medical Industry Using Metal Additive Manufacturing Webinar']
           
        }, {
             name: 'May',
            y: 15,
            
            a: ['Building the Business Case for 3D Printing in Hospitals Webinar'],
            b: ['Better Resiliency and Re-Engineering Risk Post-COVID-19'],
            c: ['Dell solutions for engineering businesses to thrive during COVID-19'],
            d: ['Nonmetallic Standards: Explore NM.1 & NM.3'],
            e: ['Nonmetallic Standards: Overview for Pipe Manufacturers Webinar']
        }, {
            name: 'June',
            y: 13,
            
            a: ['Stepping Up Design with Surface-to-Surface Radiation'],
            b: ['Rebuilding Medical Supply Chains After COVID-19'],
            c: ['ASME Virtual Town Hall'],
            d: ['Digital Reliability 24/7 Real-time Machinery Diagnostics'],
            e: ['Rebuilding Medical Supply Chains After COVID-19']
        },
        {
             name: 'July',
            y: 5,
            
            a: ['International Symposium on Flexible Automation'],
            b: ['International Conference on Nanochannels, Microchannels, and Minichannels (ICNMM 2020)'],
            c: ['SHTC/ICNMM/FEDSM 2020'],
            d: ['Fluids Engineering Division Summer Meeting (FEDSM) 2020'],
            e: ['2020 14th ASME/NRC OM Code Symposium O&M Committee Meetings']
        },

        {
             name: 'August',
            y: 10,
            
            a: ['International Conference on Ocean, Offshore, and Arctic Engineering (OMAE)'],
            b: ['28th International Conference on Nuclear Engineering (ICONE28)'],
            c: ['ASME Boiler and Pressure Vessel Committee Virtual Code Week'],
            d: ['QNDE - 47th Annual Review of Progress in Quantitative Nondestructive Evaluation'],
            e: ['Power Conference 2020']
        },
        {
             name: 'September',
            y: 5,
            
            a: ['International Pipeline Conference (IPC)'],
            b: ['3D Bioprinting: Closing the Gap between Structure and Function in Biofabrication'],
            c: ['ASME Virtual Town Hall with Dr. Walter Copan, Director of NIST'],
            d: ['ASME’s B46.1 Surface Texture 2019 Edition '],
            e: ['An Introduction to ASME’s BPVC Reliability and Integrity Management (RIM)']
        },
        {
             name: 'October',
            y: 11,
            
            a: ['AM Medical Summit'],
            b: ['International Offshore Wind Technical Conference (IOWTC 2020)'],
            c: ['Dynamic Systems and Control Conference (DSCC 2020)'],
            d: ['WiSC Presents ASME Adapting to a COVID World '],
            e: ['Design and Optimization of a BMR Loudspeaker Drive Unit']
        },
         {
             name: 'November',
            y: 15,
            
            a: ['The Internal Combustion Engine Fall Conference (ICEF 2020)'],
            b: ['Digital Twin Summit'],
            c: ['International Mechanical Engineering Congress & Exposition® (IMECE)'],
            d: ['The Rise of Mechatronics in the Realm of Digital Engineering'],
            e: ['Speeding Innovation: The Impact of Digital Twin on Real-World Testing']
        },
        {
             name: 'December',
            y: 4,
            
            a: ['Get the Design Knowledge You Need to 3D Print a Mold to Cast Silicone'],
            b: ['Modeling Stresses and Deformations in Vacuum Viewports'],
            c: ['SDC & ESD Webinar'],
            d: ['Robotics for Inspection & Maintenance Summit'],
            
        }
        ]
    }]
});




</script>
	<p><center>
	This Donut chart for "ASME Events" gives a picturesque depiction 
of the various events conducted by ASME in the year 2020!
		</p></center>

</body>
</html>
